<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img class = "img nav-link" src="assets/favicon.ico" alt="account"/>
      
      <a class="navbar-brand" href="#">HungerBox</a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <!-- Add your navigation items here -->
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink ="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart-page">cart</a>
          </li>
        
          <li>
            <button (click)="toggle()" class ="btn">
            <img class = "img nav-link" src="assets/img2.png" alt="account"/>
          </button>
          <h6 *ngIf="display">Sign Out</h6>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>
<router-outlet></router-outlet>